html {
    font-size: 16px;
    font-family: 'Platypi', serif;
    color: black;
}

body {
    width: 100%;
    background-color: burlywood;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

nav {
    border-bottom: 1px solid black;
    padding: 5px;
}

section {
    padding: 1rem;
    display: block;
    max-width: 100%;
    border: 1px solid green;
}

/* .itemCategory {

} */

.itemGrid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 80px);
    gap: 8px 8px;
    grid-template-rows: repeat(2, 120px);
    grid-auto-flow: row;
    justify-content: center;
    border: 1px solid blue;
}

.itemGrid .item {
    width: 80px;
    height: 120px;
    contain: strict;
    border: 1px solid red;
}

.item .itemImg {
    width: 100%;
    height: auto;
    z-index: 1;
}

.item > p.itemAmount {
    max-width: 100%;
    position: absolute;
    top: 56px;
    left: 5px;
    color: white;
    z-index: 2;
}

.item .itemName {
    margin-top: -4px;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 0.7rem;
    max-width: 100%;
}

